<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
  
<suite name="Suite Hien" verbose="1" >
  <test name="Test with Firefox" >
	<parameter name="testNGBrowser" value="firefox"></parameter>
    <classes>
       <class name="automation.testsuite.Homework1_Day15"/>
    </classes>
  </test>
 
  <test name="Test with Chrome">
	<parameter name="testNGBrowser" value="chrome"></parameter>
    <classes>
      <class name="automation.testsuite.Homework1_Day15"/>
    </classes>
  </test>
</suite>
